---
import Layout from "../layouts/Layout.astro";

import Form from "../components/Form.astro";
import "../styles/global.css";
import { Button } from "@/components/ui/button";
import { Card } from "@/components/ui/card";
import { Bell, Ticket } from "lucide-react";

import shopifyLogo from "../../public/shopify-logo.png";
import slackLogo from "../../public/slack-logo.png";
import excelLogo from "../../public/excel-logo.png";
import videoAskform from "/Askform-column.mp4";

const LINK_WEB_APP = "https://app.askform.fr";
const LINK_BETA_FORM = "https://app.askform.fr/public-form/569";
---

<Layout title="Askform">
  <main class="bg-white h-full overflow-x-hidden">
    <div
      class="min-h-screen bg-[#F4F4F4] flex flex-col gap-3 px-4 sm:px-6 lg:px-8"
    >
      {/* Header */}
      <!--       <header class="border rounded-lg mt-6 bg-white max-w-6xl w-full mx-auto">
        <nav
          class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-16 flex items-center justify-between"
        >
          <div class="flex items-center">
            <Button variant="ghost" className="font-medium max-md:text-xs ">
              <a href={LINK_WEB_APP}>Se connecter</a></Button
            >
            <Button className="max-md:text-xs"
              ><a href={LINK_WEB_APP}>S'inscrire</a>
            </Button>
          </div>
        </nav>
      </header> -->

      {/* Hero Section */}
      <section
        class="max-w-6xl mt-6 w-full mx-auto p-4 sm:p-6 lg:p-8 bg-white rounded-lg border h-[80vh] justify-start flex items-center relative overflow-hidden group flex-col gap-3"
      >
        <div class="max-w-3xl text-center">
          <!--     <span
            class="text-sm max-md:text-xs text-gray-500 border rounded-xl bg-[#F5F5F5] px-4 py-1"
            >Askform version 1.0</span
          > -->
          <span
            class="text-xl flex w-full justify-center max-md:text-base font-semibold gap-0"
          >
            <span class="tilt-warp-font font-bold">ask</span>
            <span class="italic">form</span>
          </span>
          <h1
            class="mt-2 text-3xl text-center sm:text-4xl font-bold leading-tight"
          >
            Une infinité de possibilité de générer <br /> et gérer ses besoins
          </h1>
          <p class="mt-4 text-slate-400 max-md:text-sm">
            Créez des formulaires adaptés à vos besoins pour collecter <br /> les
            informations essentielles rapidement
          </p>
          <div class="mt-4 flex gap-4 w-full justify-center">
            <Button
              className="gap-2 max-md:text-xs flex items-center justify-center"
            >
              <a href={LINK_BETA_FORM}>
                Rejoindre la Beta privée
                <!--  Créer un formulaire gratuitement -->
              </a>
            </Button>
          </div>
        </div>
        <video
          src={videoAskform}
          autoplay
          loop
          muted
          class="rounded-lg border h-96 object-cover aspect-w-16 aspect-h-9"
        ></video>
        <!-- <div
          class="absolute -bottom-6 h-3/4 border bg-slate-50 w-1/2 rounded-lg -right-28 flex flex-col gap-8 p-10 group-hover:-bottom-4 transition-all max-xl:scale-90 max-xl:-bottom-10 max-lg:scale-75 max-lg:-bottom-16 max-md:hidden"
        >
          <div class="w-full bg-slate-100 h-2"></div>

          <div class="flex gap-3">
            <div class="w-full bg-slate-200 border h-8 rounded-sm"></div>
            <div class="w-full bg-slate-200 border h-8 rounded-sm"></div>
          </div>
          <div class="w-full bg-slate-100 h-2"></div>
          <div class="flex gap-3">
            <div class="w-full bg-slate-200 border h-8 rounded-sm"></div>
            <div class="w-full bg-slate-200 border h-8 rounded-sm"></div>
          </div>
          <div class="w-full bg-slate-200 border h-32 rounded-sm"></div>
          <div class="w-20 bg-slate-200 border h-6 rounded-sm"></div>
        </div> -->
      </section>

      {/* Use Cases Section */}
      <section class="py-20">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="text-center">
            <h2 class="text-3xl max-md:text-xl">
              Différents <span class="font-bold">Cas d'usage</span>
            </h2>
            <p class="mt-4 text-slate-400">
              Créez des formulaires entièrement personnalisables, parfaitement
              adaptés aux besoins de votre activité
            </p>
          </div>

          <div
            class="mt-12 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8"
          >
            {
              [
                {
                  title: "E-commerçant",
                  description: (
                    <>
                      Créez des formulaires adaptés pour les retours, les
                      réclamations, ou les questions sur les commandes.
                      <br />
                      <br />
                      Automatisez l’attribution des demandes au service concerné
                      (SAV, logistique, etc.).
                    </>
                  ),
                  useCases: [
                    {
                      title: "Service Client",
                    },
                    {
                      title: "Feedback Produit",
                    },
                  ],
                },
                {
                  title: "TPE-PME",
                  description: (
                    <>
                      Proposez des formulaires pré-remplis pour chaque type de
                      demande (congés, matériel, problème technique).
                      <br />
                      <br />
                      Facilitez le suivi des demandes avec des statuts en temps
                      réel (soumis, en cours, résolu).
                    </>
                  ),
                  useCases: [
                    {
                      title: "Ticket Support",
                    },
                    {
                      title: "Mangement RH",
                    },
                  ],
                },
                {
                  title: "Freelance",
                  description: (
                    <>
                      Créez un formulaire standardisé pour collecter les besoins
                      des clients (type de projet, budget, délai).
                      <br />
                      <br />
                      Centralisez toutes les demandes dans un tableau clair et
                      priorisez les opportunités.
                    </>
                  ),
                  useCases: [
                    {
                      title: "Unboarding Client",
                    },
                    {
                      title: "Gestion de Projet",
                    },
                  ],
                },
              ].map((useCase, index) => (
                <Card
                  key={index}
                  className="p-6 hover:shadow-lg hover:scale-105  hover: transition-all flex flex-col justify-between"
                >
                  <div>
                    <h3 class="text-xl font-semibold">{useCase.title}</h3>
                    <p class="mt-2 text-slate-400">{useCase.description}</p>
                  </div>
                  <div class="mt-4 space-y-2">
                    {useCase.useCases?.map((item) => (
                      <div class="py-[6px] px-3 text-sm text-gray-300  w-full rounded bg-gray-50 border flex justify-between items-center hover:bg-gray-100 transition-all">
                        <span class="ml-3">{item.title}</span>
                        <Ticket size={16} />
                      </div>
                    ))}
                  </div>
                </Card>
              ))
            }
          </div>
        </div>
      </section>

      {/* Features Section */}
      <section class="py-20">
        <div class="w-full mx-auto px-4 sm:px-6 lg:px-8">
          <div class="text-center">
            <h2 class="text-3xl max-md:text-xl">
              Dans un <span class="font-bold">un seul outil.</span>
            </h2>
            <p class="mt-4 text-base max-md:text-sm text-slate-400">
              Explorez des fonctionnalités sur mesure pour répondre aux besoins
              spécifiques de votre activité.
            </p>
          </div>

          <div
            class="max-w-7xl mt-12 gap-2 mx-auto flex justify-center max-xl:flex-col"
          >
            <Card
              className="p-6 max-xl:h-[500px] h-[700px] w-full xl:w-1/3 relative group overflow-hidden"
            >
              <h3 class="mt-4 text-xl font-semibold">Expérience Client</h3>
              <p class="mt-2 text-slate-400 max-md:text-sm">
                Créez une expérience client sur mesure du ticket à la résolution
                de la demande
              </p>

              <div
                class="absolute max-xl:h-[70%] h-[80%] left-10 -bottom-10 w-full border rounded-lg bg-slate-100 group-hover:-bottom-6 transition-all flex flex-col items-start gap-3 justify-start p-3"
              >
                <div
                  class="w-[20%] h-4 bg-slate-200 rounded-sm border group-hover:bg-slate-300 transition-all"
                >
                </div>
                <div
                  class="w-[30%] h-4 bg-slate-200 rounded-sm border group-hover:bg-slate-300 transition-all"
                >
                </div>
                <div
                  class="w-[30%] h-4 bg-slate-200 rounded-sm border group-hover:bg-slate-300 transition-all"
                >
                </div>
                <div
                  class="w-[40%] h-4 bg-slate-200 rounded-sm border group-hover:bg-slate-300 transition-all"
                >
                </div>
                <div
                  class="w-[40%] h-4 bg-slate-200 rounded-sm border group-hover:bg-slate-300 transition-all"
                >
                </div>
                <div
                  class="w-[30%] h-4 bg-slate-200 rounded-sm border group-hover:bg-slate-300 transition-all"
                >
                </div>
                <div
                  class="w-[50%] h-4 bg-slate-200 rounded-sm border group-hover:bg-slate-300 transition-all"
                >
                </div>
                <div
                  class="w-[60%] h-4 bg-slate-200 rounded-sm border group-hover:bg-slate-300 transition-all"
                >
                </div>
              </div>
            </Card>

            <div class="flex flex-col gap-2 max w-2/3 max-xl:w-full">
              <div class="flex gap-2 h-1/2 max-md:flex-col">
                <!-- Données analytiques -->
                <Card
                  className="p-6 overflow-hidden relative group max-xl:h-[500px]"
                >
                  <h3 class="mt-4 text-xl font-semibold">
                    Données analytiques
                  </h3>
                  <p class="mt-2 text-slate-400 max-md:text-sm">
                    Vue détaillée des métriques pour améliorer la performance de
                    vos flux
                  </p>

                  <div
                    class="flex w-[60%] mx-auto absolute -bottom-4 group-hover:-bottom-1 items-end justify-between inset-0 transition-all max-xl:-bottom-20 max-xl:group-hover:-bottom-10"
                  >
                    {
                      [
                        "h-6",
                        "h-20",
                        "h-32",
                        "h-40",
                        "h-52",
                        "h-52",
                        "h-52",
                      ].map((itemHeight) => (
                        <div
                          class={`${itemHeight}  border  rounded-sm w-6 bg-gradient-to-b from-white to-gray-100`}
                        />
                      ))
                    }
                  </div>
                </Card>
                <!-- Notifications -->
                <Card
                  className="p-6 max-xl:h-[500px] relative overflow-hidden group"
                >
                  <h3 class="mt-4 text-xl font-semibold">Notifications</h3>
                  <p class="mt-2 text-slate-400 max-md:text-sm">
                    Soyez notifié des nouveaux tickets dans votre espace et
                    suivez leur progression
                  </p>

                  <div
                    class="absolute -bottom-10 -left-10 border bg-gray-50 rounded-xl p-8 text-gray-100 hover:-bottom-8 transition-all max-xl:-bottom-16 max-xl:group-hover:-bottom-12"
                  >
                    <Bell size={150} />
                  </div>
                </Card>
              </div>
              <Card
                className="p-6 w-full h-1/2 max-xl:h-[500px] relative group overflow-hidden flex flex-col justify-between "
              >
                <div>
                  <h3 class="mt-4 text-xl font-semibold">Gestion d'équipe</h3>
                  <p class="mt-2 text-slate-400 max-md:text-sm">
                    Gestions & Organisation des demandes au sein de votre
                    entreprise
                  </p>
                </div>
                <div class="relative flex flex-col gap-3">
                  <div
                    class="w-72 border rounded-lg px-3 py-2 text-slate-300 flex items-center justify-between transition-all"
                  >
                    <div class="h-2 w-1/2 bg-slate-50"></div>
                    <div class="w-10 h-2 bg-pink-100 rounded-lg"></div>
                    <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                  </div>
                  <div
                    class="w-72 border rounded-lg px-3 py-2 text-slate-300 flex items-center justify-between group-hover:ml-4 transition-all"
                  >
                    <div class="h-2 w-1/2 bg-slate-50"></div>
                    <div class="w-10 h-2 bg-orange-100 rounded-lg"></div>
                    <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                  </div>
                  <div
                    class="w-72 border rounded-lg px-3 py-2 text-slate-300 flex items-center justify-between group-hover:ml-8 transition-all"
                  >
                    <div class="h-2 w-1/2 bg-slate-50"></div>
                    <div class="w-10 h-2 bg-green-100 rounded-lg"></div>
                    <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                  </div>
                </div>
              </Card>
            </div>
          </div>
        </div>
      </section>

      {/* Integration Section */}

      <section class="w-full mx-auto px-4 sm:px-6 lg:px-8">
        <div
          class="max-w-7xl bg-white rounded-lg border py-20 relative overflow-hidden group px-10 max-sm:px-8 mx-auto"
        >
          <div class="">
            <h2 class="text-3xl max-md:text-xl font-bold">
              Synchronisez vos outils <br /> essentiels pour une gestion <br /> simplifiée.
            </h2>
            <p class="mt-4 text-slate-400 max-md:text-sm">
              Askform propose des intégrations intégrées pour toutes les
              applications <br /> que vous connaissez et aimez déjà.
            </p>
          </div>

          <div
            class="absolute right-0 top-1/2 max-lg:scale-75 max-md:scale-50 max-sm:scale-[30%]"
          >
            <div class="absolute inset-0 flex items-center justify-center">
              <!-- logo -->
              <div
                class="h-12 w-12 rounded-lg bg-white border shadow-lg flex items-center justify-center font-semibold absolute right-[230px] z-50"
              >
                <img src={shopifyLogo.src} alt="Shopify Logo" class="h-5" />
              </div>
              <div
                class="h-12 w-12 rounded-lg bg-white border shadow-lg flex items-center justify-center font-semibold absolute right-[145px]
              top-[75px] z-50"
              >
                <img src={slackLogo.src} alt="Shopify Logo" class="h-5" />
              </div>
              <div
                class="h-12 w-12 rounded-lg bg-white border shadow-lg flex items-center justify-center font-semibold absolute right-[94px]
              bottom-[65px] z-50"
              >
                <img src={excelLogo.src} alt="Shopify Logo" class="h-5" />
              </div>
              <div class="absolute flex right-3 text-xl font-medium">
                <span class="tilt-warp-font font-black text-xl">ask</span>
                <span class="italic">form</span>
              </div>
              <div
                class="h-[300px] w-[300px] rounded-full border-2 absolute border-gray-200 group-hover:border-gray-500 transition-all"
              >
              </div>
              <div
                class="h-[400px] w-[400px] rounded-full border-2 absolute border-gray-200 group-hover:border-gray-500 transition-all"
              >
              </div>
              <div
                class="h-[500px] w-[500px] rounded-full border-2 absolute border-gray-200 group-hover:border-gray-500 transition-all"
              >
              </div>
            </div>

            <!--  <div
            class="relative grid grid-cols-3 gap-8 items-center justify-items-center"
          >
            {
              ["M", "O", "A"].map((letter, index) => (
                <div class="h-12 w-12 rounded-full bg-white shadow-lg flex items-center justify-center font-semibold">
                  {letter}
                </div>
              ))
            }
          </div> -->
          </div>
        </div>
      </section>

      {/* Footer */}
      <footer class="border-t py-4 mt-4">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
          <div class="text-sm flex items-center justify-center">
            <span class="tilt-warp-font font-black">ask</span>
            <span class="italic font-semibold">form</span>
          </div>
        </div>
      </footer>
    </div>
  </main>

  <style>
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes navbar-w {
      0% {
        width: 50%;
      }
      100% {
        width: 100%;
      }
    }

    @keyframes fadeInLow {
      0% {
        background-size: 400% 400%;
        background-position: 0% 0%;
      }
      50% {
        background-color: transparent;
      }
      100% {
        background-size: 100% 100%;
        background-position: 100% 100%;
      }
    }

    @keyframes move-bottom {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(50px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  </style>
</Layout>
