---
interface Props {
  title: string;
}

const { title } = Astro.props;

const meta = {
  title: "Askform",
  description:
    "Askform vous permet de créer et gérer des formulaires personnalisés pour collecter rapidement les informations essentielles, adaptés à divers cas d'usage comme le e-commerce, les TPE-PME et les freelances.",
  image: "/askform-banner.png",
  url: "https://www.askform.fr/",
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={meta.description} />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={meta.url} />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:image" content={meta.image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={meta.url} />
    <meta property="twitter:title" content={meta.title} />
    <meta property="twitter:description" content={meta.description} />
    <meta property="twitter:image" content={meta.image} />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-askform.png" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <script
      defer
      data-domain="askform.fr"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body,
  main {
    max-width: 100%;
    overflow-x: hidden;
  }
</style>
